.place__image {
  object-fit: fill;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .place__image {
    height: 440px;
  }
}
@media screen and (max-width: 900px) {
  .place__image {
    height: 340px;
  }
}
@media screen and (max-width: 500px) {
  .place__image {
    height: 100%;
  }
}