.place__image {
  object-fit: fill;
}
@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}
@media screen and (max-width: 770px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 660px) {
  .place__image {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 590px) {
  .place__image {
    width: 320px;
    height: 320px;
  }
}
