.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 56px;
  margin-left: calc((100% - 984px) / 2);
  margin-right: calc((100% - 984px) / 2);
}

@media screen and (max-width: 1100px) {
  .lead {
    margin-top: 48px;
    margin-left: calc((100% - 928px) / 2);
    margin-right: calc((100% - 928px) / 2);
  }
}
@media screen and (max-width: 930px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
  }
}
