.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-width: calc(100% - (412px * 2));
  margin-left: calc((100% - 360px) / 2 );
  margin-right: calc((100% - 360px) / 2 );
  margin-top: 32px;
  margin-bottom: 0;
  overflow: hidden;
  z-index: 2;
}
