.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  min-width: calc(100% - (132px * 2));
  text-align: center;
  overflow: hidden;
  margin-top: 0;
  margin-left: calc((100% - 720px) / 2 );
  margin-right: calc((100% - 720px) / 2 );
  margin-bottom: 0;
  padding: 0;
}
