.cover {
  min-height: 740px;
  min-width: calc(100% - (48px * 2));
  margin-left: 48px;
  margin-right: 48px;
}
@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    min-width: calc(100%);
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    margin: 0;
    min-width: calc(100%);
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    margin: 0;
    min-width: 320px;
    min-height: 200px;
  }
}
