.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  min-width: calc(100% - (312px * 2));
  margin-left: calc((100% - 560px) / 2 );
  margin-right: calc((100% - 560px) / 2 );
  overflow: hidden;
  z-index: 2;

}
