.footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-top: 92px;
  margin-bottom: 24px;
  color: #ffffff;
}
@media screen and (max-width: 770px) {
  .footer {
    margin-top: 88px;
  }
}
@media screen and (max-width: 330px) {
  .footer {
    margin-top: 64px;
  }
}
