.intro__title {
  font-family: "Inter",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  min-width: 690px;
}
@media screen and (max-width: 770px) {
  .intro__title {
    min-width: calc(100% - (24px * 2));
  }
}
@media screen and (max-width: 330px) {
  .intro__title {
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
